@keyframes scan {
  0% { left: -100%; }
  100% { left: 100%; }
}

.animate-scan {
  animation: scan 2s linear infinite;
}

.perspective-1000 {
  perspective: 1000px;
}
main::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.15;
  z-index: 50;
}